body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #0056b3;
    color: #fff;
    background-image: url('xdc.png');
}

h1 {
    text-align: center;
}

form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 4px solid #ffffff; /*Borde*/
    border-radius: 10px;
    color: rgb(216, 216, 216);
    background-color: #2c2c2c;
    
    background-image: url('xdc.png');
    background-position: center;
    background-attachment: fixed;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #5f5f5f;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #525252;
}

#mensaje {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
